<!-- <nav class="navbar navbar-expand bg-light mb-4 shadow position-fixed"> -->
<div>
    <div class="fluid-container header">
        <div class="row justify-content-center header">
            <div class="col">
                <img src="../../assets/car_header_left.png" class="img-fluid" />
            </div>
            <div class="col text-center">
                <h1>TMF covid19 Project</h1>
            </div>
            <div class="col">
                <img src="../../assets/car_header_right.png" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<!-- </nav> -->