<table class="table">
    <thead>
        <th scope="col">Circuit</th>
        <th scope="col">Mappeur</th>
        <th scope="col">Champion</th>
        <th scope="col">Meilleur temps</th>
    </thead>
    <tbody>
        <tr *ngFor="let circuit of circuits">
            <td><button type="button" class="btn btn-light" (click)="selectCircuit(circuit)">{{circuit.nom}}</button>
            </td>
            <td>{{circuit.mappeur}}</td>
            <td>{{circuit.meilleurJoueur}}</td>
            <td>{{circuit.meilleurTemps}}</td>
        </tr>
    </tbody>
</table>